/ast tests/
/ast_tests/
changelog.lua
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.o
*.so
*.a
luac.out
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
/lua_modules/
/luarocks/ 
working_on.txt
test_simple.lua.output.lua
test_simple.lua
lua54.lua
lua54.lua.output.lua
simple_script.lua
simple_script.lua.output.lua